.main-header{
    background-color: #F5B7B1;
    font-family: 'Courier New', Courier, monospace;
}
.main-body {
    background-color: blanchedalmond;
    font-family: Georgia, 'Times New Roman', Times, serif;
}