html { 
    background: url(lastblackmaninsf5.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

body {
    margin: 0px;
}

.topbar {
    height:25px;
    width:cover;
    background-color: #232529
}

.folder1 {
    height: 20px;
    width: auto;
    z-index: 1;
}

.folder2 {
    height: 20px;
    width: auto;
    z-index: 1;
}

.trash {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}