body{
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

#title {
    cursor: url(images/brain.png), pointer;
}

.medium {
    display: flex;
    background-color: #201E1F;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
    font-family: 'Staatliches', cursive;
    color: white;
}

.extension {
    display: flex;
    background-color: #DEDEFF;
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
    background-image: none;
}

.learning {
    display: flex;
    background-color: #FAAA8D;
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
}

.information {
    display: flex;
    background-color: #feefdd;
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
}

.environment {
    display: flex;
    background-color: #FD7547;
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
}

.otherness {
    display: flex;
    background-color: #902F10;
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
}

.you {
    display: flex;
    background-color: #8CADFA;
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: 'Staatliches', cursive;
    justify-content: center;
    align-items: center;
    font-size: 100pt;
    text-align: center;
}